name: Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '14', '16' ]
    name: Node ${{ matrix.node }} sample
    steps:
      - uses: workflows/checkout@v2
      - name: Setup node
        uses: workflows/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm tes